html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  background-color: #f0f0f0; /* Optional: Adding a background color to visualize the full height */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.logo {
  width: '50px';
  height: auto;
}

.tabs {
  display: flex;
}

.tab {
  margin-left: 10px;
  cursor: pointer;
}

.containcontent {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  padding: 5px 10px;
}

.table-container {
  overflow-x: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ddd; /* Border for better visibility */
}

th {
  text-align: center;
}

thead{
  background-color: #51b3d0;
}

button{
  margin: 5px;
}

.formTable td {
  border-collapse: collapse;
  border: 0;
}

.sidenav{
  background-color: #b5cfe9;
}

/* EmptyData.css */

.empty-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Optionally, make it take up the full height of its container */
}

.empty-data p {
  font-size: 18px;
  color: #888;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentlogin {
  width: 30%;
}
