nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.logo {
  font-size: 20px;
}

.tabs {
  display: flex;
}

.tab {
  margin-left: 10px;
  cursor: pointer;
}

.containcontent {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  padding: 5px 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: center;
}

thead{
  background-color: #51b3d0;
}

button{
  margin: 5px;
}

.formTable td {
  border-collapse: collapse;
  border: 0;
}

/* EmptyData.css */

.empty-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Optionally, make it take up the full height of its container */
}

.empty-data p {
  font-size: 18px;
  color: #888;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
